table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }
  
  /* Táblázat design */

  table {
    width: 65%; /* weboldal szélessége */
    background-color: rgb(12, 121, 12);  /* háttérszín */
    color: rgb(232, 238, 235); /* betűszín */
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
  }
  
  th{
    background-color: rgb(35, 85, 143);
  }
  
  #keses{
    background-color: rgb(199, 16, 16);
  }
  
  /* Minden 2.sor színe */
  
  .paratlan_sor{
    background-color: rgb(94, 150, 9);
  } 

  #center{
    text-align: center;
  }

  #clock{
    height: 35px;
  }

  /* Kiemelés kurzorral */

  th tr :hover{
    background-color: #D6EEEE;
  }

  /* Fejléc pozíció */
  
  th{ 
    text-align: center;
  }